<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Latest Food News</title>
		<link rel="stylesheet" href="../../public/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/app.js"></script>
	</head>
	<body>
		<h1>Get the latest news about food</h1>
		{{{ body }}}
	</body>
</html>
